@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Lato:300,regular,700");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular");

@font-face {
  font-family: "brandon_bld";
  font-display: swap;
  src: url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Black";
  font-display: swap;
  src: url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  color: #000;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

._container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__body {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(134, 134, 134, 0.3);
  z-index: 2;
}

.header__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  width: 50px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.menu__list li {
  font-family: "Lato";
  display: block;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  margin: 0px 5px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.menu__list li a {
  color: #868686;
  font-size: 13px;
  padding: 12px 7px;
}

.menu__icon {
  display: none;
}

.title {
  font-family: "Gotham-Black";
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #394b50;
}

.subtitle {
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: normal;
  font-weight: 400;
  line-height: 21px;
  color: #75888d;
}

.button {
  display: inline-block;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffbb42;
  cursor: pointer;
}

.button a {
  color: #fff;
}

.title,
.subtitle {
  text-align: center;
}

.main__banner {
  background-color: #709dca;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0px 0px 0px;
}

.main__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__reviews,
.main__steps,
.main__pricing-table {
  margin: 0px 0px 150px 0px;
}

.main__newsletter {
  margin: 0px 0px 53px 0px;
}

.main__contact {
  margin: 0px 0px 100px 0px;
}

.banner__content {
  padding: 50px 15px;
}

.banner__title,
.banner__subtitle {
  color: #fff;
}

.banner__subtitle {
  margin: 0px 0px 33px 0px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__textbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  position: relative;
  padding: 0px 5px;
}

.form__textbox input {
  padding: 12px 13px 12px 43px;
  font-size: 14px;
  font-weight: 300;
  color: #6e6e6e;
  min-width: 100%;
}

.form__textbox i {
  font-size: 16px;
  color: #6e6e6e;
  position: absolute;
  left: 20px;
  top: 15px;
}

.form__button {
  padding: 0px 5px;
}

.form__button button {
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 35px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffbb42;
  font-size: 14px;
}

.services__content {
  margin: 130px 0px 110px 0px;
}

.services__subtitle {
  margin: 0px 0px 30px 0px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -14px -20px;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 14px 20px;
}

.item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__icon {
  margin: 0px 20px 0px 0px;
}

.item__icon img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 43px;
  height: 45px;
}

.item__title {
  font-family: "Lato";
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
  margin: 0px 0px 10px 0px;
}

.item__text {
  font-size: 14px;
  line-height: 22px;
  color: #7b7b7b;
}

.about__body {
  margin: 0px 0px 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 623px;
  min-width: 100%;
  background: url("../img/about/background.png") 0 0/cover no-repeat fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding: 0px 80px 0px 0px;
  border-radius: 5px;
  padding: 40px 35px 40px 35px;
  background-color: #ffc155;
}

.about__title {
  margin: 0px 0px 12px 0px;
  color: #fff;
}

.about__text {
  color: #ffffff;
  margin: 0px 0px 35px 0px;
  font-size: 16px;
  line-height: 22px;
}

.about__button {
  padding: 15px 33px;
  border: 1px solid #e7ad48;
}

.pricing-table__subtitle {
  margin: 0px 0px 50px 0px;
}

.pricing-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 510px;
}

.pricing-table__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 23px 0px;
  background-color: #ffffff;
}

.pricing-table__column_premium {
  background-color: #709dca;
}

.pricing-table__content {
  font-family: "Lato";
  border: 1px solid #ccd5df;
  padding: 30px 30px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-table__content_basic {
  border-right: none;
}

.pricing-table__content_premium {
  border: none;
}

.pricing-table__content_gold {
  border-left: none;
}

.pricing-table__plan {
  margin: 0px 0px 30px 0px;
  font-size: 25px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.pricing-table__content_basic .pricing-table__plan,
.pricing-table__content_gold .pricing-table__plan {
  color: #818b95;
}

.pricing-table__content_premium .pricing-table__plan {
  color: #ffffff;
}

.pricing-table__price {
  display: block;
  margin: 0px 0px 33px 0px;
  min-width: 87px;
  min-height: 71px;
  position: relative;
}

.pricing-table__content_basic .pricing-table__privileges span,
.pricing-table__content_gold .pricing-table__privileges span {
  border-top: 1px solid #e2e9f0;
  color: #b5bbc1;
}

.pricing-table__content_premium .pricing-table__privileges span {
  border-top: 1px solid #8eb8e2;
  color: #c2e1ff;
}

.pricing-table__privileges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.pricing-table__privileges span {
  text-align: center;
  padding: 10px 50px;
  display: block;
  width: 100%;
}

.pricing-table__button {
  margin: 35px 0px 0px 0px;
  font-size: 16.5px;
  background-color: #ffbb42;
  padding: 13px 22px;
}

.price__dollar {
  position: absolute;
  top: 0;
  font-size: 33px;
  line-height: 22px;
  text-transform: uppercase;
}

.price__number {
  margin: 0px 0px 0px 16px;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

.price__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 300;
  text-transform: none;
}

.pricing-table__content_gold .price__number,
.pricing-table__content_gold .price__dollar,
.pricing-table__content_basic .price__number,
.pricing-table__content_basic .price__dollar {
  color: #ffbb42;
}

.pricing-table__content_gold .price__time,
.pricing-table__content_basic .price__time {
  color: #818b95;
}

.pricing-table__content_premium .pricing-table__price {
  color: #ffffff;
}

.steps__body {
  position: relative;
}

.steps__subtitle {
  margin: 0px 0px 40px 0px;
}

.steps__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -20px;
}

.steps__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 20px;
}

.steps__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__image {
  height: 61px;
  width: 71px;
  margin: 0px 0px 20px 0px;
}

.steps__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.steps__headline {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
  font-family: "Lato";
  margin: 0px 0px 20px 0px;
}

.steps__text {
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #7b7b7b;
}

.steps__button {
  padding: 13px 22px;
  margin: 80px 0px 0px 0px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__primary {
  min-height: 850px;
  background-color: #ffc155;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.reviews__title,
.reviews__subtitle {
  color: #fff;
}

.reviews__subtitle {
  margin: 0px 0px 50px 0px;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px -20px;
}

.reviews__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 15px 30px;
}

.reviews__content {
  background-color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 30px 30px 39px 30px;
  margin: -9px -9px;
}

.reviews__ava {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 121px;
          flex: 0 0 121px;
  padding: 9px 9px;
}

.reviews__ava img {
  max-width: 100%;
}

.reviews__quote {
  padding: 9px 9px;
}

.reviews__quote p {
  font-size: 14px;
  color: #7b7b7b;
  line-height: 22px;
  margin: 0px 0px 20px 0px;
}

.reviews__quote p span {
  font-family: "BrandonGrotesque";
  font-size: 22px;
  font-weight: 700;
  color: #7b7b7b;
  line-height: 0px;
}

.reviews__name,
.reviews__job {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
}

.reviews__name {
  color: #f6772c;
}

.reviews__job {
  color: #99a9ae;
}

.newsletter__subtitle {
  margin: 0px 0px 40px 0px;
}

.newsletter__form input {
  border: 1px solid #cbcbcb;
  min-width: 100%;
}

.contact__body {
  max-width: 100%;
  min-height: 549px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__body {
  min-height: 549px;
  background: #ffc155 url("../img/contact_bg.png") 50% 50%/contain no-repeat fixed;
}

.contact__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -15px 0px;
}

.contact__info {
  display: block;
  max-width: 274px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px;
  position: relative;
  background-color: #394b50;
  border-radius: 50%;
}

.contact__info li {
  margin: 0px 0px 12px 0px;
  text-align: center;
}

.contact__info li:last-child {
  margin: 0px 0px 0px 0px;
}

.contact__info:after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 47%;
  border: 10px solid transparent;
  border-top: 15px solid #394b50;
}

.contact__logo {
  -ms-flex-item-align: center;
      align-self: center;
  width: 50px;
}

.contact__logo img {
  max-width: 100%;
  height: auto;
}

.contact__logo,
.contact__contact {
  padding: 15px 0px;
}

.info__item {
  color: #aeb7ba;
}

.info__item_size-s {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Lato";
}

.info__item_theme-islands {
  color: #ffbb42;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__phone-number {
  margin: 0px 0px 15px 0px;
}

.footer__phone-number a {
  font-size: 22.6px;
  line-height: 24px;
  font-weight: 400;
  color: #394b50;
}

.footer__phone-number:before {
  content: "\f879";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-size: 20.2px;
  padding: 5px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #394b50;
}

.footer__feedback {
  margin: 30px 0px;
}

.footer__copyright {
  min-width: 100%;
  text-align: center;
  background-color: #709dca;
  padding: 15px 20px;
  color: #ffffff;
  line-height: 18px;
  margin: 30px 0px 0px 0px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -8px;
}

.feedback__item {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  padding: 0px 8px;
}

.feedback__item a {
  color: #709dca;
}

.feedback__item a:hover {
  color: #ffc155;
}

@media (min-width: 767.98px) {
  .menu__list li a:hover {
    background-color: #ffbb42;
    color: #fff;
  }
}

@media (max-width: 1222px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1023px) {
  .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__textbox input {
    margin: 5px 0px;
    min-width: 350px;
  }

  .form__textbox i {
    left: 15px;
    top: 19px;
  }

  .form__button button {
    margin: 5px 0px 0px 0px;
  }

  .form__button {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .pricing-table__column {
    background-color: transparent;
  }

  .pricing-table__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -25px -20px;
  }

  .pricing-table__column {
    padding: 25px 20px;
  }

  .pricing-table__column_basic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .pricing-table__column_gold {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .pricing-table__column_premium {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 auto;
  }

  .pricing-table__content {
    padding: 30px 0px;
  }

  .pricing-table__content_basic {
    border-right: 1px solid #ccd5df;
  }

  .pricing-table__content_gold {
    border-left: 1px solid #ccd5df;
  }

  .pricing-table__content_premium {
    background-color: #709dca;
  }
}

@media (max-width: 950px) {
  .about__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
}

@media (max-width: 900px) {
  ._container {
    max-width: 750px;
  }

  .menu__list li a {
    padding: 10px 5px;
    font-size: 12.1px;
  }

  .steps__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -25px -20px;
  }

  .steps__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 25px 20px;
  }

  .reviews__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    width: 40px;
  }

  .menu__list li a {
    font-size: 17px;
  }

  .menu__body {
    height: 40px;
  }

  .menu__logo {
    width: 40px;
  }

  .menu__icon {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px;
  }

  .menu__icon span {
    position: absolute;
    background-color: #709dca;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }

  .menu__icon:before,
  .menu__icon:after {
    content: "";
    background-color: #709dca;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }

  .menu__icon:before {
    top: 0;
  }

  .menu__icon.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .menu__icon.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__icon.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__icon:after {
    bottom: 0;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffc155;
    padding: 100px 15px 20px 15px;
  }

  .menu__body.active {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 30px 0px;
  }

  .main__banner {
    margin: 50px 0px 0px 0px;
  }

  .services__row {
    margin: -25px 0px;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 25px 0px;
  }

  .pricing-table__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -20px 0px;
  }

  .pricing-table__column {
    padding: 25px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    margin: 0 auto;
  }
}

@media (max-width: 595px) {
  .reviews__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 573px) {
  .about__body {
    background: none;
  }

  .about__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 40px 20px 40px 20px;
    border-radius: 0px;
  }
}

@media (max-width: 540px) {
  .steps__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 500px) {
  .form__textbox input {
    min-width: 270px;
  }

  .pricing-table__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.webp .about__body{ background: url(../img/about/background.webp) 0 0/cover no-repeat fixed; }

.webp .contact__body{ background: #ffc155 url(../img/contact_bg.webp) 50% 50%/contain no-repeat fixed; }